:root {
  /* COLOR */
  --primary-color-100: black;
  --primary-color-200: white;
  --secondary-color-100: red;

  /*FONT SIZE*/
  --font-size-s: 18px;
  --font-size-m: 24px;
}

.general {
  border: 5px solid var(--primary-color-100);
  margin: 0 auto;
}

.registration-form {
  width: 50%;
  margin-bottom: 30px;
}

.input-box {
  margin: 10px 20px;
}

.input-label {
  display: block;
  font-size: var(--font-size-m);
  margin-bottom: 10px;
}

.data-input {
  margin-left: 1px;
  margin-bottom: 5px;
  width: 98%;
  font-size: var(--font-size-s);
}

.warn-msg {
  font-size: var(--font-size-m);
  color: var(--secondary-color-100);
}

.button-box {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 10px;
}

#submitBtn {
  padding: 10px 50px;
  background-color: var(--primary-color-100);
  color: var(--primary-color-200);
}

.list-users {
  width: 70%;
}

.line {
  border: 1px solid var(--primary-color-100);
}

.users-list-table {
  margin: 20px;
}

.items-content {
  width: 192px;
  text-align: center;
}
