/* START DASHBOARD */
/* STYLE APPLIED TO THE MOBILE */
.container {
  padding: 55px 16px;
}

.sidebar {
  display: none;
}

.layout-main {
  background-color: var(--secondary-color-50);
  border-radius: 12px;
  padding: 16px 20px;
}

.overview{
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;
}

.main-title {
  padding-top: 16px;
  padding-bottom: 20px;
  font-size: var(--font-size-l);
  line-height: 23px;
  font-weight: var(--font-weight-m);
  letter-spacing: 0.5px;
}

.title-table {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  font-weight: var( --font-weight-l);
  letter-spacing: 0.003em;
}

.table-dashboard-item-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-btn {
  font-size: var(--font-size-l);
  background: var(--success-color-50);
  color: var(--secondary-color-50);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1250px) {
  .sidebar {
    position: fixed;
    display: inline-block;
    width: 174px;
    height: 100vh;
    background: rgba(1, 0, 57, 0.04);
    padding: 100px 42px 0 24px;
  }

  .container {
    display: inline-block;
    padding-left: 280px;
    padding-right: 33px;
  }

  .main-title {
    padding-top: 33px;
    padding-bottom: 40px;
  }

  .layout-main {
    padding: 30px;
    padding-bottom: 9px;
  }

  .nav-paragraphs {
    padding-bottom: 26px;
    font-family: var(--secondary-font);
    font-size: 11px;
    line-height: 11px;
    font-weight: var( --font-weight-s);
    color: var(--primary-color-400);
  }

  .dashboard-btn {
    font-family: var(--secondary-font);
    width: 174px;
    display: flex;
    padding: 14px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.003em;
    color: #504178;
  }

  .icon-dashboard {
    padding-right: 12px;
  }

  .dashboard-btn:hover {
    background: rgba(80, 65, 120, 0.2);
  }
}
/* END DASHBOARD */
