:root {
  /* COLOR */
  --primary-color-50: #f3f6f9;
  --primary-color-100: #f6f8fa;
  --primary-color-200: #464e5f;
  --primary-color-300: #1f384c;
  --primary-color-400: #082431;
  --secondary-color-50: #ffffff;
  --secondary-color-100: #e5e5e5;
  --secondary-color-200: #7e7373;
  --secondary-color-300: #786e6e;
  --secondary-color-400: #0c0b0b;
  --warning-color-50: red;
  --success-color-50: #00B7F1;
}
