:root {
  /* COLOR */
  --primary-color-100: #e5e5e5;
  --primary-color-200: rgba(80, 65, 120, 0.2);
  --primary-color-300: #1f384c;
  --primary-color-400: #464e5f;
  --primary-color-500: #504178;
  --primary-color-600: #082431;
  --primary-color-700: #786e6e;
  --secondary-color-100: #ffffff;
  --secondary-color-200: #f3f6f9;
  --secondary-color-300: #0c0b0b;
  --secondary-color-400: #00b7f1;
}
