/* START FORM */
/* STYLE APPLIED TO THE MOBILE */
.form {
  max-width: 510px;
  max-height: 520px;
  overflow: auto;
}

.form-line {
  padding-top: 15px;
}
  
.label-input {
  font-size: var(--font-size-m);
}
  
.form-control {
  border-radius: 10px;
  display: block;
  width: calc(100% - 34px);
  padding: 15px;
  margin-top: 15px;
  font-size: var(--font-size-s);
}

.form-warn-msg {
  margin-top: 20px;
  margin-bottom: 0px;
}

/* STYLE APPLIED TO THE DESKTOP */
@media (min-width: 1200px) {
  .label-input {
    font-size: var(--font-size-l);
  }

  .form-control {
    font-size: var(--font-size-m);
  }

  .form-line {
    padding-top: 20px;
  }
}
