/* START HEADER */
/* STYLE APPLIED TO THE MOBILE */
.logo-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--secondary-color-50);
  box-shadow: 0px 1px 0px var(--secondary-color-100);
}

.logo-box {
  padding-left: 45px;
}
